html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Miller';
  src: url(/MillerTextRoman.ttf);
  font-weight: 500;
  font-style: normal;
}

html,
body,
.miller {
  font-family: 'Miller', serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
